@import '../../node_modules/@syncfusion/ej2-tailwind3-theme/styles/spreadsheet/index.css';


/* Dropdown */
.questionDropDown {
    min-width: 250px;
    width: 250px;
    margin: 16px 0;
}

.wrapper{
    min-height: 550px;
    height: calc(100vh - 130px);
}

.interview-container{
    margin: 5px;
}