@import '../../node_modules/@syncfusion/ej2-tailwind3-theme/styles/spreadsheet/index.css';


/* Dropdown */
#changeDataDropdown {
    min-width: 180px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #dce4f1;
    color: #333;
    cursor: pointer;
    outline: none;
    margin: 16px 0;
}

.wrapper{
    min-height: 550px;
    height: calc(100vh - 130px);
}